/******************** Font *************************/
/******************* end Font **********************/
html {
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

body {
  -webkit-font-smoothing: antialiased;
  width: 100%;
}

.clear {
  display: block;
  clear: both;
  visibility: hidden;
}

.wrapper {
  overflow: hidden;
}

header {
  padding-top: 50px;
  background-color: white;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 999999;
}

header .header-box {
  padding-bottom: 50px;
}

header .header-mid-col {
  text-align: center;
}

header .mainlogo {
  display: inline-block;
  width: auto;
  height: auto;
}

header .mainlogo img {
  width: 190px;
  height: auto;
}

header .mainlogo h1 {
  display: none;
}

header .mainmenu-holder .mainmenu {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
}

header .mainmenu-holder .mainmenu i {
  color: rgba(29, 30, 28, 0.4);
  font-size: 20px;
  display: inline-block;
}

header .mainmenu-holder .mainmenu i:after {
  font-family: 'FontAwesome';
  content: "\f0c9";
}

header .mainmenu-holder.active .mainmenu {
  border-bottom: 1px solid black;
}

header .mainmenu-holder.active .mainmenu i:after {
  content: "\f00d";
}

header .member-menu {
  float: right;
}

header .member-menu > img {
  width: 23px;
  height: auto;
}

header .header-line {
  display: block;
  margin-top: 0;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 0;
  border-top: 1px solid #b2b2b2;
}

.slide-menu {
  display: none;
  overflow: auto;
  position: fixed;
  background-color: white;
  margin-left: -15px;
  margin-top: 10px;
  height: 100%;
  width: 280px;
  padding-right: 50px;
  padding-left: 15px;
  padding-bottom: 170px;
}

.slide-menu .mainmenu-holder.active .mainmenu {
  border: none !important;
}

.slide-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  display: block;
}

.slide-menu > ul:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

.slide-menu > ul > li {
  border-bottom: 1px dashed rgba(0, 0, 0, 0.3);
}

.slide-menu > ul > li:last-child {
  border-bottom: none;
}

.slide-menu > ul > li > a {
  padding: 23px 10px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.98em;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.slide-menu > ul > li > a:hover {
  color: #ed4848;
}

.slide-menu .social-block {
  border-bottom: 1px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
}

.slide-menu .social-block:after {
  content: "";
  clear: both;
  display: block;
  visibility: hidden;
}

.slide-menu .social-block ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
}

.slide-menu .social-block ul li {
  float: left;
  display: inline-block;
}

.slide-menu .social-block ul li a {
  padding: 20px 15px;
  text-align: center;
  min-width: 60px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.slide-menu .social-block ul li a img {
  height: 18px;
  width: auto;
  display: inline-block;
}

.slide-menu .social-block ul li a:hover {
  opacity: 0.5;
}

.slide-menu .lang-menu .lang-dropdown a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.slide-menu .lang-menu .lang-dropdown a:hover {
  background-color: black;
  color: white;
}

.slide-menu .lang-menu .lang-dropdown a i {
  margin-left: 10px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.slide-menu .lang-menu .lang-dropdown a i:after {
  font-family: 'FontAwesome';
  content: "\f107";
}

.slide-menu .lang-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-menu .lang-menu ul li a {
  padding: 10px;
  display: block;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.slide-menu .lang-menu ul li a:hover {
  background-color: black;
  color: white;
}

.slide-menu .lang-menu .lang-popover {
  display: none;
}

.slide-menu .lang-menu.active .lang-dropdown a {
  background-color: black;
  color: white;
}

.slide-menu .lang-menu.active .lang-dropdown i:after {
  content: "\f106";
}

.top-nav {
  margin-top: 170px;
  padding-bottom: 50px;
}

.top-nav .header-category-menu {
  text-align: center;
}

.top-nav .header-category-menu ul {
  display: inline-block;
  list-style: none;
}

.top-nav .header-category-menu ul li {
  float: left;
  padding-left: 30px;
  padding-right: 30px;
}

.top-nav .header-category-menu ul li:first-child {
  padding-left: 0;
}

.top-nav .header-category-menu ul li:last-child {
  padding-right: 0;
}

.top-nav .header-category-menu ul li a {
  padding: 7px 13px;
  display: block;
  border: 1px solid transparent;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.08em;
  color: #6c6c6c;
  text-decoration: none;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.top-nav .header-category-menu ul li a:hover {
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
}

.top-nav .header-category-menu ul li.active a {
  border: 1px solid rgba(0, 0, 0, 0.3);
  color: black;
}

footer {
  background-color: #150415;
  padding-top: 70px;
  padding-bottom: 50px;
}

footer p {
  font-family: "LemonMilklight", sans-serif;
  font-size: 1em;
  letter-spacing: 0.08em;
  color: white;
  /*
		font-size: 1.3em;
		letter-spacing: 0.03em;
		*/
}

footer .subscribe {
  color: white;
  font-family: "LemonMilklight", sans-serif;
  font-size: 1em;
  letter-spacing: 0.08em;
  /*
		font-size: 1.3em;
		font-weight: bold;
		*/
  text-align: center;
  letter-spacing: 0.08em;
  display: block;
  border: 1px solid #ed4848;
  padding: 5px;
  text-decoration: none;
  margin-top: 15px;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

footer .subscribe:hover {
  background-color: #ed4848;
}

footer .copyright-text {
  text-align: center;
  margin-top: 30px;
  font-family: "LemonMilklight", sans-serif;
  font-size: 1em;
  letter-spacing: 0.08em;
  color: #95989a;
}

.footer-menu {
  list-style: none;
  column-count: 2;
  margin: 0;
  padding: 0;
}

.footer-menu li {
  padding: 5px;
}

.footer-menu li a {
  color: white;
  text-decoration: none;
  font-family: "LemonMilklight", sans-serif;
  font-size: 1em;
  letter-spacing: 0.08em;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.footer-menu li a:hover {
  color: #ed4848;
}

.feature-banner {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 45px;
  position: relative;
}

.feature-banner img {
  width: 100%;
  height: auto;
}

.feature-banner .vid-time-holder {
  max-width: 1140px;
  margin: auto;
  position: relative;
  bottom: 0;
}

fieldset.featured-header {
  border-top: 1px solid !important;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: center;
  color: #b2b2b2;
  margin: 0;
  padding: 0;
}

fieldset.featured-header legend {
  width: auto !important;
  -webkit-padding-start: 50px;
  -webkit-padding-end: 50px;
  background: transparent;
  font-family: "LemonMilkbold", sans-serif;
  font-weight: normal;
  border-bottom: 0;
  color: black;
  font-size: 1.7em;
  letter-spacing: 0.08em;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.feature-section {
  padding-top: 35px;
  padding-bottom: 35px;
}

.thumb-list-child {
  margin-top: 15px;
  margin-bottom: 15px;
}

.thumb-list-child .thumb-cover {
  position: relative;
}

.thumb-list-child .thumb-cover img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}

.thumb-list-child .thumb-cover a {
  display: block;
}

.thumb-list-child .thumb-caption {
  margin-top: 10px;
}

.thumb-list-child .thumb-caption a {
  color: #969696;
  font-style: italic;
  font-weight: lighter;
  text-decoration: none;
}

.thumb-list-child .thumb-caption a span {
  display: block;
  width: 100%;
  font-size: 0.9em;
}

.vid-time-num {
  background-image: url(../images/common/vid-time-bg.svg);
  color: white;
  padding: 5px 15px 5px 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  color: white;
  background-repeat: no-repeat;
  background-position: center center;
}

.separator-line {
  display: block;
  margin-top: 45px;
  margin-bottom: 45px;
  border-top: 1px solid #b2b2b2;
}

.editor {
  padding-bottom: 15px;
}

.editor-banner {
  margin-top: 45px;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;
}

.editor-banner img {
  width: 100%;
  height: auto;
}

.most-section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.most-section h3 {
  text-align: center;
  font-size: 1.7em;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  width: 100%;
  text-align: center;
  top: -60px;
}

.most-section .vid-row {
  margin-top: 50px;
  margin-bottom: 50px;
}

.most-section .vid-row .col:first-child .section-grid {
  border-right: 1px solid #b2b2b2;
}

.most-section .thumb-list-child {
  margin: 0;
}

.editor-story h2 {
  font-size: 2.3em;
  font-family: "LemonMilkbold", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.editor-story h3 {
  font-size: 1.3em;
  font-family: "LemonMilkbold", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.editor-story hr {
  border-top: 1px solid #ed4848;
  margin-top: 30px;
  margin-bottom: 30px;
}

.editor-story .direct-img img {
  width: 100%;
  height: auto;
}

.editor-story p {
  color: #b2b2b2;
  font-family: "LemonMilklight", sans-serif;
  letter-spacing: 0.05em;
  line-height: 2em;
  font-size: 0.8em;
  margin-top: 30px;
  margin-bottom: 30px;
}

section .section-title {
  margin-top: 45px;
  margin-bottom: 45px;
  font-family: "LemonMilkbold", sans-serif;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

section.recent-view .section-title {
  text-align: left;
  margin-top: 15px;
  margin-bottom: 15px;
}

.bottom-social {
  text-align: center;
  padding-bottom: 30px;
}

.bottom-social ul {
  list-style: none;
  display: inline-block;
  margin: 0;
  padding: 0;
}

.bottom-social ul li {
  float: left;
  padding-left: 50px;
  padding-right: 50px;
}

.bottom-social ul li:first-child {
  padding-left: 0;
}

.bottom-social ul li:last-child {
  padding-right: 0;
}

.bottom-social ul li a .social-ico {
  height: 18px;
  width: auto;
}

.category-banner {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.category-banner img {
  width: 100%;
  height: auto;
}

.banner-title {
  position: absolute;
  max-width: 45%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  color: white;
  font-size: 7em;
  font-weight: bold;
  line-height: 1em;
  letter-spacing: 0.08em;
}

.feature-playlist {
  padding-top: 15px;
  padding-bottom: 15px;
}

.category-thumb-list .selector-holder {
  margin-top: 45px;
}

.category-thumb-list .top-view-all {
  margin-top: 45px;
  float: right;
}

.category-thumb-list .loadmore-bar {
  text-align: center;
}

.category-thumb-list .loadmore {
  margin-top: 30px;
  display: inline-block;
  float: none;
}

.flag-row {
  text-align: left;
  color: black;
  font-family: "LemonMilklight", sans-serif;
  font-size: 1.25em;
  margin-top: 30px;
}

.normal-button {
  padding: 10px 15px;
  border: 1px solid #b2b2b2;
  text-decoration: none;
  color: #b2b2b2;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.9em;
  text-transform: uppercase;
}

.normal-button:hover {
  color: black;
  text-decoration: none;
}

.selector-holder {
  position: relative;
  width: auto;
  float: left;
  border: 1px solid #b2b2b2;
  padding: 10px;
}

.selector-holder .ico {
  position: absolute;
  right: 0;
  width: 11px;
  height: auto;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

.form-selector {
  outline: none;
  -webkit-appearance: button;
  -moz-appearance: button;
  -webkit-user-select: none;
  -moz-user-select: none;
  -webkit-padding-end: 20px;
  -moz-padding-end: 20px;
  -webkit-padding-start: 10px;
  -moz-padding-start: 10px;
  border-radius: 0;
  border: none;
  color: #b2b2b2;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.9em;
}

.search-bar {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 65px;
}

.search-bar .col:first-child {
  flex-grow: 9;
}

.search-bar input[type="text"] {
  width: 100%;
  margin-right: -15px;
}

.search-bar .selector-holder {
  float: right;
}

.search-bar .normal-button {
  display: block;
  width: 100%;
  text-align: center;
}

.search-bar .search-bar-input {
  position: relative;
}

.search-bar .search-bar-input .mb-search-btn {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  background: none;
  border: none;
  padding-right: 15px;
  color: #8c8c8c;
  cursor: pointer;
}

inputStyle, input[type="text"] {
  border: 1px solid #b2b2b2;
  padding: 10px;
}

.filter-menu {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  list-style: none;
  border-top: 1px solid #b2b2b2;
}

.filter-menu li {
  border-bottom: 1px solid #b2b2b2;
}

.filter-menu li a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "LemonMilklight", sans-serif;
  text-transform: uppercase;
  font-size: 0.95em;
  color: #b2b2b2;
  text-decoration: none;
  -moz-transition: all 0.1s ease-in;
  -webkit-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.filter-menu li a:hover {
  color: black;
}

.side-bar .selector-holder {
  width: 100%;
}

.side-bar .selector-holder select {
  width: 100%;
}

.side-bar-title {
  color: black;
  font-size: 1.2em;
  padding-bottom: 10px;
}

.video-cat-name {
  color: #b2b2b2;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.95em;
}

.video-counter {
  color: #b2b2b2;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.95em;
  text-align: right;
}

.cat-meta hr {
  border-top: 1px solid #b2b2b2;
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-player {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}

.main-player .cover {
  width: 100%;
  height: auto;
  z-index: 1;
}

.main-player .play-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  display: block;
  z-index: 2;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main-player .play-btn img {
  max-width: 105px;
  height: auto;
}

.vote-box .vote-row {
  display: inline-block;
  width: auto;
  position: relative;
  top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.vote-box .vote-row a {
  width: 14px;
  height: 14px;
  display: inline-block;
  background-color: #c6c7c9;
  border-radius: 100%;
  margin-left: 1px;
  margin-right: 1px;
}

.vote-box .vote-row a.active {
  background-color: black;
}

.under-player-section {
  margin-top: 22px;
  margin-bottom: 50px;
}

.under-player-section .under-player-child {
  border-right: 1px solid #ed4848;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: "LemonMilklight", sans-serif;
  font-size: 0.95em;
  letter-spacing: 0.03em;
  color: black;
}

.under-player-section .under-player-child:last-child {
  border: none;
}

.under-player-section .under-player-child .ico {
  height: 14px;
  width: auto;
  margin-right: 5px;
}

.under-player-section .under-player-child a {
  color: black;
  text-decoration: none;
}

.player-content {
  overflow: hidden;
}

.player-content .normal-button {
  float: right;
}

.player-content .post-meta h2 {
  font-size: 2.1em;
  font-weight: bold;
}

.player-content .post-meta span {
  font-size: 1em;
  font-style: italic;
}

.player-content .content-section {
  display: none;
}

.player-content .related-list {
  display: none;
}

.player-content .view-less {
  display: none;
}

.player-content .top-btn {
  display: block;
}

.player-content .bottom-btn {
  display: none;
}

.player-content.active .top-btn {
  display: none;
}

.player-content.active .bottom-btn {
  display: block;
}

.player-content.active .related-list {
  opacity: 1;
}

.playlist-section .thumb-list-child {
  margin-top: 35px;
  margin-bottom: 35px;
}

.playlist-section .thumb-caption {
  margin-top: 0;
}

.playlist-section .thumb-caption a {
  font-size: 1.8em;
}

.playlist-section .thumb-caption a span {
  font-size: 0.55em;
}

.content-section p {
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  line-height: 2.1em;
}

.related-sidebar .top-btn {
  text-align: right;
}

.related-sidebar .top-btn a {
  float: none;
  display: inline-block;
}

.related-sidebar .bottom-btn {
  text-align: center;
  margin-top: 30px;
}

.related-sidebar .bottom-btn a {
  float: none;
  display: inline-block;
}

.related-list h3 {
  font-family: "LemonMilk", sans-serif;
  font-size: 1.3em;
}

.related-list .thumb-list-child {
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-header {
  padding-bottom: 50px;
  position: relative;
}

.category-header h2 {
  text-align: center;
  font-family: "LemonMilk", sans-serif;
  font-size: 1.5em;
}

.category-header .follow-box {
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
}

.category-header .follow-box span {
  font-family: "LemonMilk", sans-serif;
  font-size: 0.65em;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
}

.category-header .follow-box a {
  display: block;
  border: 1px solid #ed4848;
  font-family: "LemonMilkbold", sans-serif;
  font-size: 0.8em;
  padding: 5px 10px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  text-align: center;
  margin-bottom: 3px;
}

.category-header .follow-box a:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.thumb-slide {
  margin-left: -15px;
  margin-right: -15px;
}

.thumb-slide .bx-wrapper {
  max-width: none !important;
  width: 100%;
  margin: 0;
  float: right;
}

.thumb-slide .bx-wrapper .bx-viewport {
  margin: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  background: none;
  left: auto;
}

.thumb-slide .bx-wrapper .bx-controls-direction a {
  width: 44px;
  height: 44px;
  top: 40%;
  margin-top: -22px;
  background-position: left top;
}

.thumb-slide .bx-wrapper .bx-controls-direction a:hover {
  background-position: left top;
}

.thumb-slide .bx-wrapper .bx-prev {
  background-image: url(../images/common/thumbslide-left.svg);
  left: 0;
}

.thumb-slide .bx-wrapper .bx-next {
  background-image: url(../images/common/thumbslide-right.svg);
  right: 0;
}

.mostplay-title {
  color: rgba(0, 0, 0, 0.5);
  margin-top: 15px;
  margin-bottom: 15px;
}

.mostplay-title h3 {
  font-family: "LemonMilk", sans-serif;
  font-size: 1.4em;
}

.mostplay-title h4 {
  font-family: "LemonMilk", sans-serif;
  font-size: 0.95em;
}

.gallery-section a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.ekko-lightbox {
  z-index: 999999;
}

.ekko-lightbox .modal-backdrop {
  z-index: 999999;
}

.ekko-lightbox .modal-dialog {
  margin: 2rem auto;
  top: 50%;
  transform: translate(0, -50%) !important;
}

/*********************** responsive *******************/
@media (min-width: 1400px) {
  .container, .container-fluid {
    max-width: 1400px;
    margin: auto;
  }
  .full-width {
    margin-left: -15px;
    margin-right: -15px;
  }
}

@media (max-width: 768px) {
  .top-nav {
    margin-top: 125px;
    padding-bottom: 0;
  }
  .thumb-list-row .col {
    flex: none;
  }
  .banner-title {
    max-width: 100%;
    font-size: 2.5em;
  }
  .editor-banner {
    margin-top: 0;
  }
  .most-section .vid-row {
    margin-top: 0;
    margin-bottom: 0;
  }
  .most-section .vid-row .row {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .most-section .col {
    flex: none;
  }
  .editor-story .col {
    flex: none;
  }
  .following-update .col, .recent-view .col {
    flex: none;
  }
  .footer-menu {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .footer-menu:after {
    content: "";
    clear: both;
    display: block;
    visibility: hidden;
  }
  .bottom-social ul li {
    padding-left: 15px;
    padding-right: 15px;
  }
  .under-player-section .under-player-child:first-child {
    flex: none;
    border-right: none;
    padding-bottom: 25px;
  }
  .category-header {
    padding-top: 40px;
    padding-bottom: 15px;
  }
  .category-header h2 {
    margin-bottom: 15px;
  }
  .category-header .follow-box {
    position: relative;
    text-align: right;
  }
  .separator-line, .section-title {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
  }
  .feature-playlist .col {
    flex: none;
  }
  .filter-bar .order-2 {
    order: 1;
    flex: none;
  }
  .filter-bar .order-1 {
    order: 2;
  }
  .category-thumb-list .top-view-all {
    display: block;
    width: 100%;
    text-align: center;
  }
  .category-thumb-list .selector-holder {
    width: 100%;
  }
  .search-bar {
    margin-bottom: 0px;
    padding-top: 25px;
    margin-bottom: 25px;
  }
  .cat-meta {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .cat-meta div {
    text-align: center;
  }
  .related-sidebar .top-btn {
    margin-top: 15px;
    text-align: center;
  }
  .ekko-lightbox .modal-dialog {
    max-width: 90% !important;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3) {
  .top-nav {
    padding-bottom: 0;
  }
}
/*# sourceMappingURL=layout.css.map */